//Global styles

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

//Sass declarations

%centered-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

$test-border: solid 1px #fff;

$sipBlue: #52c2d0;

.App {
  @extend %centered-div;
  overflow-x: hidden;
}

//Nav

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 100vw;
  background: transparent;
}

#sip-logo {
  margin: 1rem;
  width: 50%;
  opacity: 0.5;
}

//Background

#background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

//Landing

.landing-container {
  width: 100vw;
  blockquote {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: "Caveat", cursive;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
  }
}

#locations {
  width: 100vw;
  @extend %centered-div;
}

.location-box {
  @extend %centered-div;
  width: 75vw;
  margin: 2vh 0;
  opacity: 0;
  transition: opacity 0.6s;
  h1 {
    text-transform: uppercase;
    font-size: 1.75em;
    color: #fff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 200;
    cursor: pointer;
    &:hover {
      color: #ddd;
    }
  }
  hr {
    width: 50%;
    height: 1px;
    background-color: #fff;
    color: #fff;
    margin: 0;
  }
  p {
    font-size: 1.25em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 400;
    margin: 7px;
    color: #fff;
  }
  button {
    margin: 3vw;
    transition: transform 0.4s;
    &:hover {
      transform: scale(1.05);
    }
  }
}

#gallery {
  min-height: 75vh;
  // background-image: linear-gradient(to bottom, #fff, transparent);
  width: 100vw;
  padding: 6vh 0;

  img {
    width: 80%;
    margin: 2vh;
    transition: box-shadow 0.4s;
    &:hover {
      box-shadow: 8px 8px 5px #222;
    }
  }
}

//Menu

#menu {
  text-align: center;
  width: 100vw;
  // background-image: linear-gradient(
  //   to bottom,
  //   transparent,
  //   $sipBlue,
  //   transparent
  // );
  h1 {
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 200;
    margin-top: 15px;
  }
  div:nth-child(2) {
    margin-bottom: 8vh;
  }
}

.menu-wrapper {
  width: 100vw;

  img {
    margin-bottom: 3vh;
  }
}

#coffee-menu {
  img {
    width: 80%;
  }
}
#food-menu {
  width: 80%;
}

#contact {
  width: 100vw;
  @extend %centered-div;
  border-top: solid 1px white;
  h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 200;
  }
  p {
    color: #fff;
    font-size: 1.2em;
    text-decoration: underline;
  }
}

//Overlay menu

#overlay {
  ul {
    color: white;
    list-style-type: none;
    padding: 0;
    text-align: center;
    li {
      font-size: 3rem;
      margin: 3vh;
      font-weight: bold;
      color: white;
      cursor: pointer;
      &:hover {
        color: $sipBlue;
      }
    }
  }
}

.middle-underline {
  position: relative;
}

.middle-underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $sipBlue;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.middle-underline:hover:before {
  visibility: visible;
  transform: scaleX(1.5);
}

.overlay-shown {
}

#hamburger {
  position: relative;
  margin-right: 2rem;
}

.interactive {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.interactive-two {
  position: fixed;
  margin: 1rem;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  justify-content: center;
  flex-direction: column;
}

.line {
  margin-bottom: 0.5rem;
  width: 2.5rem;
  height: 0.3rem;
  background: #fff;
  transition: all 0.4s;
}

.line-checked {
  background: #52c2d0;
}

.line-1-checked {
  transform: rotate(45deg) translate(10%, 200%);
}
.line-2-checked {
  opacity: 0;
}
.line-3-checked {
  transform: rotate(-45deg) translateX(20%) translateY(-280%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
  .location-box {
    h1 {
      font-size: 2em;
    }
    p {
      margin-top: 1vh;
      font-size: 1.5em;
    }
    button {
      font-size: 1em;
    }
  }
  #gallery {
    img {
      width: 100%;
    }
  }

  #coffee-menu {
    img {
      width: 40%;
    }
  }
  #food-menu {
    width: 40%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1281px) {
  .location-box {
    h1 {
      font-size: 5em;
    }
    p {
      margin-top: 1vh;
      font-size: 2.5em;
    }
    button {
      font-size: 2em;
    }
  }

  #menu {
    h1 {
      font-size: 5em;
    }
  }

  #coffee-menu {
    img {
      width: 60%;
    }
  }
  #food-menu {
    width: 60%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1600px) {
  #sip-logo {
    width: 100%;
  }
  #coffee-menu {
    img {
      width: 800px;
    }
  }
  #food-menu {
    width: 800px;
    margin-right: 5vw;
  }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
